<header class="headerArea">
    <div class="topWraper">
        <div class="topArea">
            <div class="phoneNumber">
                <i class="fas fa-mobile-alt"></i>
                <span class="mobtext"> +1(800)559 6580</span>
            </div>
            <div class="socialIcon">
                <ul class="list-inline-xs">
                    <li>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="navWraper">
        <div class="navArea">
            <div class="logo">
                <a href="">
                    <img src="../assets/images/logo.png" alt="">
                </a>
            </div>
            <nav class="navLink">
                <ul>
                    <li>
                        <a routerLink="" [routerLinkActive]="['active-link']" [routerLinkActiveOptions]="{exact: true}">Home</a>

                    </li>
                    <li>
                        <a routerLink="/About" routerLinkActive="active-link">About</a>

                    </li>
                    <li>
                        <a routerLink="/Services" routerLinkActive="active-link">Dental Services</a>

                    </li>
                    <li>
                        <a routerLink="/Team" routerLinkActive="active-link">Team</a>

                    </li>

                    <li>
                        <a routerLink="/Contacts" routerLinkActive="active-link">Contacts</a>

                    </li>
                </ul>

            </nav>
            <div class="clear"></div>
        </div>
    </div>
    <!-- end main navigation -->
</header>