<footer class="footWraper">
  <div class="footArea">
    <div class="footLinks">
      <article class="footContact">
        <h5>Contact us</h5>
        <ul>
          <li>
            <span>E-mail:</span> mail@demolink.org</li>
          <li>
            <span>Tel.:</span> +1 800 777 6050</li>
          <li>
            <span>Address:</span>222 Fashion Lane, Ste</li>
        </ul>
      </article>


      <article class="footFollow">
        <h5>FOLLOW US</h5>
        <ul>
          <li>
            <span>
              <i class="fab fa-facebook-f"></i>
            </span>
            <a href="#">Facebook</a>
          </li>


          <li>
            <span>
              <i class="fab fa-pinterest"></i>
            </span>
            <a href="#">Pinterest</a>
          </li>
          <li>
            <span>
              <i class="fab fa-youtube"></i>
            </span>
            <a href="#">YouTube </a>
          </li>
          <li>
            <span>
              <i class="fab fa-linkedin"></i>
            </span>
            <a href="#">Linkdin</a>
          </li>
        </ul>
      </article>

      <article class="footNewsletter">
        <h5>NEWSLETTER</h5>
        <p>Get subscriber only insights & news delivered by DentaKids.</p>
        <div class="newsInput">
          <input type="email" name="email">
          <button class="submit" type="submit">Submit</button>
        </div>
      </article>

    </div>

  </div>
  <div class="copyWrite">
    © 2018 DentaKids LLC. All Rights Reserved
  </div>
</footer>