<div class="aboutWraper">

  <div class="breadCrumbs">
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li class="active">About</li>
    </ul>
  </div>
  <!-- end breadcrumbs -->

  <section class="bannerWraper">
    <div class="banner">
      <div class="bannerLeft">

        <h4>Howard Hawk</h4>
        <p class="subText">Chief Medical</p>
        <h5>Your child shines with every smile. Let's keep it that way!</h5>
        <p>To say that Dr. Howard Hawk loves his work as a pediatric dentist is the ultimate understatement. Being silly with
          his young patients is one of his favorite things and one of the reasons why he chose pediatric dentistry as a career.</p>
        <p>Dr. Howard takes pride in his ability to transform a fearful child into a happy patient who leaves the DentaKids
          office unafraid and confident that a trip to the dentist can be fun! Dr. Howard Hawk graduated from the University
          of the Pacific School of Dentistry in 1995 with its highest honors. He received his certificate in Pediatric Dentistry
          at Harvard University/Children’s Hospital, Boston in 1997.</p>
        <div class="btn">
          <a href="/Learn">Read More</a>
        </div>

      </div>
    </div>
  </section>
  <!-- end banner -->


  <section class="testimonWraper">
    <div class="testimonArea">
      <h4>Testimonials</h4>
      <ul>
        <li>
          <article class="quote-modern">
            <div class="quote-modern__image-wrap">
              <img class="quote-modern__image" src="../assets/images/testimonials-1-132x132.jpg" alt="" width="132" height="132">
            </div>
            <div class="quote-modern__main">
              <p class="q">We have all three of our children’s dental needs taken care of here. From their first visit to braces they
                have had excellent care. In particular we love the availability of a secluded area to minimize sounds for
                our youngest.
              </p>
            </div>
            <div class="quote-modern__footer">
              <small>Manager</small>
              <p class="cite">Patricia</p>
            </div>
          </article>
        </li>


        <li>
            <article class="quote-modern">
              <div class="quote-modern__image-wrap">
                <img class="quote-modern__image" src="../assets/images/testimonials-2-132x132.jpg" alt="" width="132" height="132">
              </div>
              <div class="quote-modern__main">
                <p class="q">We have all three of our children’s dental needs taken care of here. From their first visit to braces they
                  have had excellent care. In particular we love the availability of a secluded area to minimize sounds for
                  our youngest.
                </p>
              </div>
              <div class="quote-modern__footer">
                <small>Housewife</small>
                <p class="cite">LINDA</p>
              </div>
            </article>
          </li>
  
          <li>
              <article class="quote-modern">
                <div class="quote-modern__image-wrap">
                  <img class="quote-modern__image" src="../assets/images/testimonials-3-132x132.jpg" alt="" width="132" height="132">
                </div>
                <div class="quote-modern__main">
                  <p class="q">We have all three of our children’s dental needs taken care of here. From their first visit to braces they
                    have had excellent care. In particular we love the availability of a secluded area to minimize sounds for
                    our youngest.
                  </p>
                </div>
                <div class="quote-modern__footer">
                  <small>Lawyer</small>
                  <p class="cite">DANIELA</p>
                </div>
              </article>
            </li>
    
      
      </ul>
    </div>
  </section>
  <!-- end testimonial -->
</div>