<div class="learnWraper">
  <div class="breadCrumbs">
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li>
        <a href="/About">About</a>
      </li>
      <li class="active">learn</li>
    </ul>
  </div>
  <!-- end breadcrumbs -->


  <div class="learnArea">
    <div class="learnInfo">
      <img src="../assets/images/learn-1-690x348.jpg">

      <h4>Tooth Decay in Children</h4>
      <h5>All Kids Are at Risk</h5>
      <p>The American Academy of Pediatric Dentistry (AAPD), the recognized leader in children’s oral health, today emphasized
        that the frequency and duration of oral exposure to foods and drinks with large amounts of sugar should be given
        the same consideration as diet itself when it comes to preventing tooth decay and cavities in children.</p>
      <p>"Most parents know that they need to watch what their kids eat and make them brush regularly. Unfortunately, many are
        not aware that letting kids sip on sugary drinks for hours or putting them to bed with a bottle of milk can be just
        as harmful," says Dr. Howard Hawk for the AAPD. "These habits can expose teeth to sugar for extended periods of time,
        increasing the risk of tooth decay."</p>
      <p>While fluoridation and improved oral hygiene have resulted in fewer cavities overall among Americans in recent years,
        cavities in young children are on the rise. Kids should finish sugary foods and drinks right away, without lingering.
        Healthy eating and drinking not only plays an integral role in overall health, it can have a profound impact on oral
        hygiene.
      </p>
    </div>

    <div class="learnInfo">
      <img src="../assets/images/learn-2-690x348.jpg">

      <h4>Teaching Kids to be Healthy</h4>
      <h5>How to Prevent Tooth Decay</h5>
      <p>Tooth decay occurs as a result of interactions between the bacteria inside your mouth and the food you eat. Over time,
        these interactions may result in the destruction of your teeth. According to the Centers for Disease Control and
        Prevention, tooth decay impacts more children in the United States than any other chronic infectious disease. Fortunately,
        this oral disease is preventable, which is why teaching kids to be healthy through good oral hygiene practices is
        absolutely essential. </p>
      <p>Follow a Balanced Diet. Following a balanced diet is one of the first things parents can do to protect their child's
        teeth from tooth decay. The foods that your child consumes will determine how at risk he is for developing this condition.
        Nutritious meals that strike a healthy balance between all the major food groups are always best. </p>
      <p>Brush and Floss. Brushing and flossing are two of the most effective ways to keep your child's teeth clean. Teach your
        child the importance of not only cleaning his teeth in the morning, but also after each meal and before bedtime.
        To learn more about proper brushing and flossing techniques, visit DentaKids.</p>
    </div>

  </div>



</div>