<div class="serviceWraper">
  <div class="breadCrumbs">
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li class="active">Dental Services</li>
    </ul>
  </div>
  <!-- end breadcrumbs -->

  <div class="serviceAllWraper">
  <div class="serviceInfo">
    <div class="serviceLeft">
      <h4>Early Dental Care</h4>
      <h5>The importance of pediatric dental care</h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
        book. It has survived not only five centuries</p>
      <p>When it comes to the health of your child's primary teeth, there is no better time than now to start practicing excellent
        oral hygiene. Pediatric dental care ensures your child's primary teeth stay healthy and free of decay and other dental
        diseases.</p>
      <div class="btn">
        <a href="/Appointment">Make an appointment</a>
      </div>
    </div>
    <div class="serviceRight">
      <img src="../assets/images/solutions-1-960x896.jpg">
    </div>
  </div>

  <!-- end service -->

  <div class="serviceInfo odd">
    <div class="serviceRight">
      <img src="../assets/images/solutions-2-960x896.jpg">
    </div>
    <div class="serviceLeft">
      <h4>Preventive Care
      </h4>
      <h5>Keeping your kids’ teeth strong and healthy is as important to us as it is to you. With that in mind, DentaKids promotes
        prevention as a priority!
      </h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever</p>
      <p>Believe it or not, preventive care plays a major role in the overall oral and physical health of your child. Much like
        an adult, the onset of decay can lead to a multitude of problems, some relating to oral health, and some relating
        to overall well-being.

      </p>
      <div class="btn">
        <a href="/Appointment">Make an appointment</a>
      </div>
    </div>
  </div>
  <!-- end service -->

  <div class="serviceInfo">
    <div class="serviceLeft">
      <h4>Sedation Dentistry
      </h4>
      <h5>Some children can become anxious when they see the dentist. As a result, they may not be able to relax or sit still
        long enough to receive treatment.
      </h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s, when an unknown printer</p>
      <p>Safety is parents' top consideration when it comes to their child receiving dental sedation. Dentists may recommend
        sedation for long, complex procedures and for patients who are especially young or nervous. Sedating a patient is
        normally a very safe procedure.

      </p>
      <div class="btn">
        <a href="/Appointment">Make an appointment</a>
      </div>
    </div>
    <div class="serviceRight">
      <img src="../assets/images/solutions-3-960x896.jpg">
    </div>
  </div>

  <!-- end service -->

  <div class="serviceInfo odd">
    <div class="serviceRight">
      <img src="../assets/images/solutions-4-960x896.jpg">
    </div>
    <div class="serviceLeft">
      <h4>Restorative Care
      </h4>
      <h5>At DentaKids, we encourage our patients and their parents to focus on preventive oral care so children maintain proper
        oral health.
      </h5>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
        dummy text ever since the 1500s</p>
      <p>Sometimes, despite proper hygiene and care, things happen. Tooth decay can occur, or a tooth can be broken or knocked
        out. In these cases, restorative care becomes necessary. Depending on your child's needs, there are several restorative
        options. Dr. Hawk will discuss these options with you.

      </p>
      <div class="btn">
        <a href="/Appointment">Make an appointment</a>
      </div>
    </div>
  </div>
  <!-- end service -->

</div>
</div>