.teamWraper{
    margin: 145px 0 0 0;
    padding: 0px;
    width: 100%;
}



.bannerWraper{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background: url('../../assets/images/about-banner.jpg');
    background-attachment: fixed;
    background-position: center 70px;
    .banner{
        margin: 0px auto;
        padding: 0px;
        width: 1024px;
        .bannerLeft{
            margin: 0px;
            padding: 12% 0 10% 0;
            float: left;
            width: 60%;
            h4{
                font-size: 36px;
                color: rgb(58, 58, 58);
                font-weight: 500;
                margin: 0px;
                padding: 0px 0 10px 0;
            }
            p.subText{
                color: rgb(234, 74, 49);
                margin: 0px;
                padding: 0px;
                font-weight: 500;
                font-size: 19px;
            }
            h5{
                margin-top: 50px;
                font-weight: 500;
                line-height:22px;
                font-size: 17px;
                letter-spacing: -0.02em;
            }
            p{
                margin-top: 15px;
                font-family: Roboto, Helvetica, Arial, sans-serif;
                font-size: 14px;
                font-weight: 300;
                line-height: 22px;
                color: rgb(137, 137, 137);
                padding: 0px 0 15px 0;
            }
            .btn{
                margin: 0px;
                padding: 0px;
                a{
                    margin: 0px;
                    padding: 15px 40px;
                    display:inline-block;
                    background: #0ab2c0;
                    color: #fff;
                    border-radius: 5px;
                    text-transform: uppercase;
                    transition: all 0.2s ease-in-out;
                    &:hover{
                        color: #fff;
                        background: #ea4a31;
                        border-radius: 30px;
                    }
                }
            }
        }
    }
}


.teamBox{
    margin: 0px;
    padding: 70px 0px;
    overflow: hidden;
    
    border-bottom: 1px solid #eee;
}
.teamArea{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    h4{
        margin: 0px;
        padding: 0px 0 70px 0;
        font-size: 36px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: -0.02em;
        color: rgb(58, 58, 58);
        text-align: center;
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        li{
            margin: 0px;
            padding: 0px 2%;
            float: left;
            width: 25%;
            .teamInfo{
                margin: 0px;
                padding: 0px;
                text-align: center;
                .teamPic{
                    margin: 0px 0 15px 0;
                    padding: 0px;
                    img{
                        margin: 0px;
                        padding: 2px;
                        width: 100%;
                        border: 1px solid #edee;
                    }
                }
                h5{
                    margin: 0px 0 20px 0;
                    padding: 5px 10px;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: 500;
                    display: inline-block;
                    background: #0ab2c0;
                    color: #fff;
                }
                h6{
                    margin: 0px;
                    padding: 0px;
                    font-size: 15px;
                    color: #e44818;
                    text-transform:capitalize;
                    font-weight: 300;
                }
                p{
                    margin: 30px 0 0 0;
                    padding: 0px;
                    font-size: 13px;
                    line-height: 22px;
                }
            }
        }
    }
}
