<div class="teamWraper">
  <div class="breadCrumbs">
    <ul>
      <li>
        <a href="">Home</a>
      </li>
      <li class="active">Team</li>
    </ul>
  </div>
  <!-- end breadcrumbs -->


  <section class="bannerWraper">
    <div class="banner">
      <div class="bannerLeft">

        <h4>Howard Hawk</h4>
        <p class="subText">Chief Medical</p>
        <h5>Your child shines with every smile. Let's keep it that way!</h5>
        <p>To say that Dr. Howard Hawk loves his work as a pediatric dentist is the ultimate understatement. Being silly with
          his young patients is one of his favorite things and one of the reasons why he chose pediatric dentistry as a career.</p>
        <p>Dr. Howard takes pride in his ability to transform a fearful child into a happy patient who leaves the DentaKids
          office unafraid and confident that a trip to the dentist can be fun! Dr. Howard Hawk graduated from the University
          of the Pacific School of Dentistry in 1995 with its highest honors. He received his certificate in Pediatric Dentistry
          at Harvard University/Children’s Hospital, Boston in 1997.</p>
        <div class="btn">
          <a href="/Learn">Read More</a>
        </div>

      </div>
    </div>
  </section>
  <!-- end banner -->


  <section class="teamBox">
    <div class="teamArea">
      <h4>Meet our Team
      </h4>
      <ul>
        <li>
          <article class="teamInfo">
            <div class="teamPic"><img src="../assets/images/team-1-330x330.jpg"></div>
            <h5>Mark Hoffman</h5>
            <h6>Dentist</h6>
            <p>Dr. Mark Hoffman has been working in this field of medical specialization since 2002. He brought all his experience to DentaKids. </p>
          </article>
        </li>

        <li>
            <article class="teamInfo">
              <div class="teamPic"><img src="../assets/images/team-2-330x330.jpg"></div>
              <h5>Diane Smith</h5>
              <h6>Practical Nurse</h6>
              <p>Diane truly represents all the care that our dental office is surrounded with and our patients feel that every time.

                </p>
            </article>
          </li>

          <li>
              <article class="teamInfo">
                <div class="teamPic"><img src="../assets/images/team-3-330x330.jpg"></div>
                <h5>Andrew Wilson
                  </h5>
                <h6>Patient Services Manager

                  </h6>
                <p>Andrew worked for numerous dental offices in the US and Canada during her 20 years long career.

                  </p>
              </article>
            </li>

            <li>
                <article class="teamInfo">
                  <div class="teamPic"><img src="../assets/images/team-4-330x330.jpg"></div>
                  <h5>Dan Williams
                    </h5>
                  <h6>Dental Hygienist

                    </h6>
                  <p>Dan is one of the most experienced dental hygienists in the county. He works at our dental clinic since day 1.

                    </p>
                </article>
              </li>
      </ul>
    </div>
  </section>
</div>