<section class="slideBanner">
  <div class="slidePic">
    <img src="../assets/images/slider-1-slide-3-1920x700.jpg">
  </div>
  <h2>Pediatric Dentistry
    <span> For Children</span>
  </h2>
  <div class="btn">
    <a href="/Appointment">Make an appointment </a>
  </div>
</section>
<!-- end banner -->

<section class="wlcomeWraper">
  <h4>Welcome to pediatric dentistry!</h4>
  <ul>
    <li>
      <h2>Providing Expert Care</h2>
      <div class="welcomePic">
        <img src="../assets/images/post-5-450x268.jpg">
      </div>
      <p>Our pediatric dentists are specialists in children's dental care. They coordinate orthodontic care at its highest level.
      </p>
    </li>

    <li>
      <h2>Friendly Atmosphere</h2>
      <div class="welcomePic">
        <img src="../assets/images/post-6-450x268.jpg">
      </div>
      <p>Pediatric dentists are trained to create a friendly, fun, social atmosphere for children`s visit.
      </p>
    </li>

    <li>
      <h2>Individual Approach</h2>
      <div class="welcomePic">
        <img src="../assets/images/post-7-450x268.jpg">
      </div>
      <p>DentaKids will provide your children with individualized care, education and a personalized treatment plan.


      </p>
    </li>
  </ul>
</section>
<!-- end welcome -->

<section class="chooseArea">
  <h4>Why Choose Us
  </h4>
  <ul>
    <li>
      <img src="../assets/images/choose-1.jpg">
      <h5>LATEST TECHNOLOGIES </h5>
      <p>Our office is equipped with the latest technologies to provide a more precise, safe, and convenient experience for
        our patients and their families.

      </p>
    </li>

    <li>
      <img src="../assets/images/choose-2.jpg">
      <h5>FAMILY-CENTERED CARE</h5>
      <p>We encourage parents to play an active role in their child’s dental health and encourage the child’s growth, education,
        and participation as well.



      </p>
    </li>

    <li>
      <img src="../assets/images/choose-3.jpg">
      <h5>SPECIALIZED TRAINING
      </h5>
      <p>Children are our only patients, and all of our training is devoted to meeting their specialized needs.



      </p>
    </li>

    <li>
      <img src="../assets/images/choose-4.jpg">
      <h5>EMERGENCY DENTAL CARE
      </h5>
      <p>We know that a dental emergency for your child can be frightening, and we want to do all that we can to help.



      </p>
    </li>
  </ul>
</section>
<!-- end choose -->



<section class="testimonWraper">
  <div class="testimonArea">
    <h4>Testimonials</h4>
    <ul>
      <li>
        <article class="quote-modern">
          <div class="quote-modern__image-wrap">
            <img class="quote-modern__image" src="../assets/images/testimonials-1-132x132.jpg" alt="" width="132" height="132">
          </div>
          <div class="quote-modern__main">
            <p class="q">We have all three of our children’s dental needs taken care of here. From their first visit to braces they have
              had excellent care. In particular we love the availability of a secluded area to minimize sounds for our youngest.
            </p>
          </div>
          <div class="quote-modern__footer">
            <small>Manager</small>
            <p class="cite">Patricia</p>
          </div>
        </article>
      </li>


      <li>
        <article class="quote-modern">
          <div class="quote-modern__image-wrap">
            <img class="quote-modern__image" src="../assets/images/testimonials-2-132x132.jpg" alt="" width="132" height="132">
          </div>
          <div class="quote-modern__main">
            <p class="q">We have all three of our children’s dental needs taken care of here. From their first visit to braces they have
              had excellent care. In particular we love the availability of a secluded area to minimize sounds for our youngest.
            </p>
          </div>
          <div class="quote-modern__footer">
            <small>Housewife</small>
            <p class="cite">LINDA</p>
          </div>
        </article>
      </li>

      <li>
        <article class="quote-modern">
          <div class="quote-modern__image-wrap">
            <img class="quote-modern__image" src="../assets/images/testimonials-3-132x132.jpg" alt="" width="132" height="132">
          </div>
          <div class="quote-modern__main">
            <p class="q">We have all three of our children’s dental needs taken care of here. From their first visit to braces they have
              had excellent care. In particular we love the availability of a secluded area to minimize sounds for our youngest.
            </p>
          </div>
          <div class="quote-modern__footer">
            <small>Lawyer</small>
            <p class="cite">DANIELA</p>
          </div>
        </article>
      </li>


    </ul>
  </div>
</section>
<!-- end testimonial -->
<!-- end testimonial -->